<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Fuel Finder</name>

    <description>
         
    </description>

    <author>
         
    </author>

    <icon src="./icon.png" />
    <gap:splash src="splash.png" />
</widget>
