html {
 height: 100%;
 margin: 0px;
 padding: 0px;
 border: none;
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  border: none;
  overflow: hidden;
  background: #1F2D4D;
}

#map-canvas { 
  position: relative;
  height: 80%;
  margin: 1%;
}

.topcoat-navigation-bar {
  position: relative;
  height: 4.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  background: #FF5757; 
}

.topcoat-navigation-bar__item {
  margin: 0px;
  padding: 0px;
  line-height: 4.375rem;
  vertical-align: top;
}

.topcoat-navigation-bar__title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #2E4272;
  text-shadow: 0.1rem 0.1rem #5072C2;
}

.topcoat-list {
  position: relative;
  margin: 1%;
  background-color: #E0E04C;
}

.topcoat-list__header {
  padding: 4px 20px;
  font-size: 0.9em;
  font-weight: 400;
  border-bottom: solid #3D1414;
  background-color: #FF5757;
  color: #2E4272;
}

.topcoat-list__container {
  color: #101829;
}

.topcoat-list__item {
  padding: 1.25rem;
}

.topcoat-list__item:first-child {
}