html {
 height: 100%;
 margin: 0px;
 padding: 0px;
 border: none;
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  border: none;
  overflow: hidden;
  background: #B3D1FF;
}

#map-canvas { 
  position: relative;
  height: 60%;
  margin: 1%;
}

.settings-icon {
  position: relative;
  float: right;
  right: 1%;
  z-index: 1;
}

.topcoat-navigation-bar {
  position: relative;
  height: 4%;
  margin: 1%;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0.5%;
  background: #FFAF38;
}

.topcoat-navigation-bar__item {
  margin: 0px;
  padding: 0px;
}

.topcoat-navigation-bar__title {

  color: #3888FF;
  vertical-align: center;
}

.topcoat-list {
  position: relative;
  margin: 1%;
  background-color: #FFC875;
  list-style-type: none;
  overflow-y: scroll;
}

.topcoat-list__header {
  padding: 1% 2%;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #FFAF38;
  color: #3888FF;
}

.topcoat-list__container {
  color: #101829;
}

.topcoat-list__item {
  padding: 1.25rem;
}

.topcoat-list__item:first-child {
}